/public/hot
/public/storage
/public/css
/public/images
/public/js
/public/stations
/public/sitemap.xml
/public/static
/public/fonts
/public/vendor
/public/mix-manifest.json

/storage/*.key
/vendor
/node_modules
.env
.env.dusk.local
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
reports/
.php_cs.cache
storage/coverage

