//
//--------------------------------------------------------------------------
// Variables - Favon
//--------------------------------------------------------------------------
//

// Colors
//-------------------------------------
$color-white: #fff;
$color-black: #000;
$color-winter: #82d4f5;
$color-winter-dark: #42c5d6;
$color-spring: #ff3f7a;
//$color-spring: #ff3f7a;
$color-summer: #f6b24d;
$color-fall: #ee913a;
$color-icon: #9599a1;

$color-shadow-1: rgba(211, 215, 221, .4);

// General
//-------------------------------------
$sans-serif: (
  'Montserrat',
  -apple-system,
  system-ui,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Open Sans',
  'Helvetica Neue',
  sans-serif
);

// Navigation
//-------------------------------------
$nav-search-color: #797b80;
$nav-search-color-placeholder: #c8cbd3;
$nav-icon-color: #d9dce3;
$nav-icon-color-hover: #a8abb1;
$nav-link-color: #b3b6bc;
$nav-link-color-hover: #979aa7;
$nav-link-color-active: #70727c;

// Cards
//-------------------------------------
$card-color-bg: #fff;
$card-shadow: rgba(0, 0, 0, .1);
$card-color-bg-accent: #fbfbfb;
$card-color-accent: #70727c;
$card-shadow-accent: rgba(0, 0, 0, .05);
$card-shadow-genre: rgba(211, 215, 221, .7);
$card-color-genre: #9d9ea1;
$card-color-title: #7b7d85;
$card-color-placeholder: #e4e4e4;

// Banners
//-------------------------------------
$banner-color-text-bright: #fff;
$banner-color-text-dark: #7b7d85;
$banner-winter-bg-top: #82d5f7;
$banner-winter-bg-bottom: #f0f9fe;
$banner-spring-bg-top: #ff3f7a;
$banner-spring-bg-bottom: #d44771;
$banner-summer-color: #ffb950;
$banner-summer-bg-top-from: #fbf1d6;
$banner-summer-bg-top-to: #fff7df;
$banner-summer-bg-bottom: #fadeb9;
$banner-fall-color: #7b2f1a;
$banner-fall-bg-top-from: #f4e7c4;
$banner-fall-bg-top-to: #fde4a6;
$banner-fall-bg-bottom: #ffd79e;

// Filters
//-------------------------------------
$filters-color-seasons: #bbbdc4;
$filters-color-seasons-hover: #979aa7;
$filters-color: #32394d;

// Toggle Switch
//-------------------------------------
$toggle-color: #898989;
$toggle-shadow: rgba(0, 0, 0, .05);
$toggle-color-bg: #3adc92;
$toggle-color-disabled: #d5d5d5;

$color-checkbox: #3670ff;

// Popup
//-------------------------------------
$popup-color-header: #bbbdc4;
$popup-color-font: #32394d;

// Footer
//-------------------------------------
$footer-dark-bg: #2c2c2c;
$footer-dark-color-logo: #777;
$footer-dark-color-text: #9f9f9f;
$footer-dark-color-icon: #cfcfcf;
$footer-light-bg: #fff;
$footer-light-color-logo: #70727c;
$footer-light-color-text: #b3b6bc;
$footer-light-color-icon: #b3b6bc;
