html {
  height: 100%;
}
body {
  min-height: 100%;
}

.logo {
  &.is-winter {
    fill: $color-winter-dark;
  }

  &.is-spring {
    fill: $color-spring;
  }

  &.is-summer {
    fill: $color-summer;
  }

  &.is-fall {
    fill: $color-fall;
  }
}

.container {
  padding: 0 1rem;

  @include tablet {
    padding: 0;
  }
}
