.text-winter {
  color: $color-winter-dark !important;
}

.text-spring {
  color: $color-spring !important;
}

.text-summer {
  color: $color-summer !important;
}

.text-fall {
  color: $color-fall !important;
}

.text-label {
  color: $nav-link-color;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
}

.alert.is-danger a {
  color: $color-white;

  &:hover {
    color: #9a174b;
  }
}
