.container {

  @include widescreen {
    max-width: 1192px;
  }

  position: relative;
}

.has-depth-1 {
  box-shadow: 0 10px 30px 0 $color-shadow-1;
}

.flex-group {
  align-items: center;
  display: flex;
}

.has-margin-bottom--20 {
  margin-bottom: 20px;
}
