.banner {
  height: 200px;

  &.is-winter {
    .banner__image {
      position: absolute;
      height: 180px;
      left: 2rem;
      top: 20px;
    }
    .banner__top {
      background: #82d5f7;
      height: 162px;

      h2 {
        color: #fff;
        display: inline-block;
        font-size: 4.8rem;
        font-weight: 800;
        letter-spacing: 4px;
        margin-left: 350px;
        margin-top: 60px;
        text-transform: uppercase;
      }
    }
    .banner__bottom {
      background: #f0f9fe;
      height: 38px;
    }
  }
}