.card {
  &.is-seasonal {
    background: #fff;
    box-shadow: 0px 10px 40px rgba(0,0,0,0.1);
    height: 305px;
    margin-top: 30px;

    &.is-winter {
      .card__head {
        background: $color-winter;
        height: 34px;
      }

      .description__title span {
        color: $color-winter;
      }
    }
    .card__body {
      display: flex;
      height: 231px;

      .body__poster img {
        height: 231px;
      }
    }

    .card__footer {
      align-items: center;
      display: flex;
      background: #fbfbfb;
      color: #70727c;
      font-size: 1.3rem;
      height: 40px;
      padding: 10px;

      img {
        height: 12px;
        margin: 0 5px 0 15px;
      }
    }

    .body__description {
      padding: 14px 17px;
    }

    .description__title {
      color: #7b7d85;
      font-size: 1.4rem;
      font-weight: 800;
      text-transform: uppercase;
    }

    .description__plot {
      color: #70727c;
      font-size: 1.4rem;
      margin-top: 10px;
      max-height: 150px;
      overflow: hidden;

      &:hover {
        overflow-y: scroll;
      }
    }

    .genre-label {
      color: #9d9ea1;
      box-shadow:  0px 1px 10px 0px rgba(211, 215, 221, 0.7);
      padding: 3px;
      font-size: .9rem;
      font-weight: 800;
      text-transform: uppercase;
    }
  }
}



