@keyframes popup {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.popup {
  display: none;
  position: absolute;
  z-index: 500;
  opacity: 0;
  will-change: opacity;
  transition-property: opacity;
  transition-duration: .25s;
  visibility: hidden;

  &.is-active {
    display: block;
    animation: popup .5s cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 1;
    visibility: visible;
  }

  &--filters {
    left: 0;
    top: 75px;
    width: 100%;
  }
}

.popup__content {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 35px rgba(50,50,93,.15), 0px 10px 35px rgba(50,50,93,.15);
  font-size: 1.3rem;
  padding: 20px 35px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  .style-select, .style-select * {
    font-size: 1.3rem;
  }

  .field {
    margin-bottom: 1rem;
  }

  .checkbox + label {
    display: inline-block;
    line-height: 2.2;
    margin-right: 10px;
    padding-left: 25px;

    &::after,
    &::before {
      transition: background-color .25s cubic-bezier(0.1, 0.71, 0.25, 1);
    }
  }

  h4 {
    color: #bbbdc4;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: .5rem;
    text-transform: uppercase;

    &:not(:first-child) {
      margin-top: 2rem;
    }
  }

  label, p, span {
    color: #32394d;
    font-size: 1.2rem;
  }

  label {
    font-weight: normal;
  }

  input[type="text"] {
    height: 3rem;
    padding: .6rem .7rem;
  }
}

.popup__arrow {
  position: absolute;
  top: -6px;
  right: 0;
  margin: 0 0 0 -6px;
  width: 12px;
  height: 12px;
  transform: translateX(-70px) rotate(45deg);
  border-radius: 4px 0 0 0;
  background: #fff;
  box-shadow: -3px -3px 5px rgba(82,95,127,.04);
  will-change: transform;
}

.popup__confirm {
  margin-top: 15px;
}
