.text-winter {
  color: $color-winter-dark !important;
}

.text-spring {
  color: $color-spring !important;
}

.text-summer {
  color: $color-summer !important;
}

.text-fall {
  color: $color-fall !important;
}
