.container {
  position: relative;

  @include widescreen {
      max-width: 1192px;
  }
}

.has-depth-1 {
  box-shadow: 0px 10px 30px 0px rgba(211, 215, 221, 0.4);
}

.flex-group {
  align-items: center;
  display: flex;
}