.card {
  &.is-seasonal {
    background: $card-color-bg;
    box-shadow: 0 10px 40px $card-shadow;
    height: 305px;

    @include tablet {
      margin-top: 30px;
    }

    .card__head {
      align-items: center;
      background: $card-color-bg-accent;
      box-shadow: 0 1px 5px 0 $card-shadow-accent;
      display: flex;
      height: 34px;
      padding: 2px 10px;
      position: relative;
    }

    .body__poster {
      img {
        height: 231px;
      }
    }

    .poster__placeholder img {
      height: 80px;
      opacity: .6;
    }

    .card__body {
      display: flex;
      height: 231px;
    }

    .poster__placeholder {
      align-items: center;
      background: $card-color-placeholder;
      display: flex;
      height: 231px;
      justify-content: center;
      width: 154px;
    }

    .card__footer {
      align-items: center;
      background: $card-color-bg-accent;
      box-shadow: 0 -1px 5px 0 $card-shadow-accent;
      color: $card-color-accent;
      display: flex;
      font-size: 1.3rem;
      height: 40px;
      padding: 10px;

      a {
        color: $card-color-accent;

        &:hover {
          color: shade($color-link, 20%);
        }
      }

      img {
        height: 12px;
        margin: 0 5px 0 15px;
      }
    }

    .body__description {
      height: 231px;
      overflow: hidden;
      padding: 14px 17px;

      &:hover {
        overflow-y: auto;
      }
    }

    .footer__network::before {
      content: '-';
      padding: 0 5px;
    }

    .description__title {
      color: $card-color-title;
      font-size: 1.4rem;
      font-weight: 800;
      margin: 0;
      text-transform: uppercase;
    }

    .description__plot {
      color: $card-color-accent;
      font-size: 1.2rem;
      margin-top: 10px;
    }

    .genre-label {
      box-shadow: 0 1px 10px 0 $card-shadow-genre;
      color: $card-color-genre;
      display: inline-block;
      font-size: .9rem;
      font-weight: 800;
      margin-top: .5rem;
      padding: 3px;
      text-transform: uppercase;
    }
  }
}
