.label__status {
  align-items: center;
  border-radius: .3rem;
  display: inline-flex;
  font-size: 1rem;
  height: 2rem;
  padding: 0 6px;
  text-transform: uppercase;

  &.is-ptw {
    background: #ececec;
    color: #797979;
  }

  &.is-completed {
    background: $color-success;
    color: $color-white;
  }

  &.is-watching {
    background: $color-info;
    color: $color-white;
  }

  &.is-hold {
    background: $color-warning;
    color: $color-dark;
  }

  &.is-dropped {
    background: $color-danger;
    color: $color-white;
  }
}
