.toggle {
  label {
    background: $toggle-color;
    border-radius: 200px;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin: 0;
    position: relative;
    transition: background .3s ease;
    width: 35px;

    &::after {
      background: $color-white;
      border-radius: 100px;
      box-shadow: 0 3px 3px $toggle-shadow;
      content: '';
      display: block;
      height: 21px;
      left: -2px;
      position: absolute;
      top: -3px;
      transition: background .3s ease, left .3s ease;
      width: 21px;
    }
  }

  input {
    display: none;

    &:checked ~ label {
      background: $toggle-color-bg;

      &::after {
        background: $color-white;
        left: 15px;
      }
    }

    &:disabled ~ label {
      background: $toggle-color-disabled;
      pointer-events: none;

      &::after {
        background: $color-white;
      }
    }
  }
}
