.auth {

  @include tablet {
    height: 70%;
    min-height: 750px;
  }

  align-items: center;
  background-size: cover;
  display: flex;
  justify-content: center;

  .card {
    border-radius: 0;
    width: 450px;

    @include tablet {
      border-radius: .3rem;
    }
  }

  .card__head {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;

    svg {
      height: 25px;
    }

    span {
      display: inline-block;
      margin-left: 10px;
      margin-top: 2px;
    }
  }

  .head__page {
    &::before {
      content: '-';
      padding: 0 10px 0 0;
    }
  }

  .card-content {
    padding: 2rem;
  }

  .card-action {
    padding: 1rem 2rem;
  }

  form {
    margin-bottom: .5rem;
  }

  label[for='remember'] {
    color: #a3a3a4;
  }

  .card-action a {
    color: $color-link;
  }
}

.reset-password {
  color: rgba(34, 36, 38, .4);
  font-size: 1.5rem;
  margin-left: 2rem;

  &:focus,
  &:hover {
    color: $color-link;
  }
}

.content__notifications--text {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.content__notifications--options {
  label {
    letter-spacing: .01rem;
    line-height: 1.6;
  }

  .checkbox + label {
    font-size: 1.4rem;

    &::before {
      top: 3px;
    }

    &::after {
      top: 3px;
    }
  }
}

.is-invalid {
  border: 1px solid $color-danger !important;
}

.invalid-feedback {
  color: $color-danger;
  font-size: 1.4rem;
  margin-top: .5rem;
}
