.auth {

  @include tablet {
    height: 70%;
    min-height: 750px;
  }

  align-items: center;
  background-size: cover;
  display: flex;
  font-family: $favon-font-text;
  justify-content: center;

  &__head {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;

    svg {
      height: 25px;
    }

    span {
      display: inline-block;
      margin-left: 10px;
      margin-top: 2px;
    }

    .head__title {
      &::before {
        content: '-';
        padding: 0 10px 0 0;
      }
    }
  }

  &__reset {
    font-size: 1.5rem;
    margin-left: 2rem;
  }

  &__notifications--options {
    label {
      letter-spacing: .01rem;
      line-height: 1.6;
    }

    .checkbox + label {
      font-size: 1.4rem;

      &::before {
        top: 3px;
      }

      &::after {
        top: 3px;
      }
    }
  }

  &__notifications--text {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }

  // Overwriting Luma styles

  .card {
    border-radius: 0;
    width: 450px;

    @include tablet {
      border-radius: .3rem;
    }
  }

  .card-content {
    padding: 2rem;
  }

  .card-action {
    padding: 1rem 2rem;
  }

  .card-action a {
    color: $color-link;

    &:hover {
      color: shade($color-link, 20%);
    }
  }

  .card-meta {
    color: $color-text;
  }

  form {
    margin-bottom: .5rem;
  }
}
