.seasonal {
  padding-bottom: 80px;
}

.list__progress {
  position: relative;

  input {
    padding-right: 30px;
  }

  span {
    align-items: center;
    background: #f7f7f7;
    border: 1px solid transparent-dark(.15);
    border-radius: 0 .3rem .3rem 0;
    display: flex;
    height: 3rem;
    padding: 0 1rem;
    position: absolute;
    right: 0;
    top: 0;
    user-select: none;
    z-index: 5;
  }
}

.progress__increment {
  width: 100%;
}

