.banner__top {
  height: 162px;
}

.banner__image {
  height: 180px;
  left: 2rem;
  position: absolute;
  top: 20px;
}

.banner__bottom {
  height: 38px;
}

.banner {
  height: 200px;

  h2 {
    display: inline-block;
    font-size: 4.8rem;
    font-weight: 800;
    letter-spacing: 4px;
    margin-left: 350px;
    margin-top: 60px;
    text-transform: uppercase;
  }

  &.is-winter {
    h2 {
      color: $banner-color-text-bright;
    }

    .banner__top {
      background: $banner-winter-bg-top;
    }

    .banner__bottom {
      background: $banner-winter-bg-bottom;
    }
  }

  &.is-spring {
    .banner__image {
      height: 160px;
    }

    h2 {
      color: $banner-color-text-bright;
    }

    .banner__top {
      background: $banner-spring-bg-top;
      height: 180px;
    }

    .banner__bottom {
      background: $banner-spring-bg-bottom;
      height: 20px;
    }
  }

  &.is-summer {
    .banner__image {
      height: 140px;
      top: 40px;
    }

    h2 {
      color: $banner-summer-color;
      opacity: .5;
    }

    .banner__top {
      background: linear-gradient(to bottom, $banner-summer-bg-top-from, $banner-summer-bg-top-to);
    }

    .banner__bottom {
      background: $banner-summer-bg-bottom;
    }
  }

  &.is-fall {
    .banner__image {
      height: 180px;
      top: 0;
    }

    h2 {
      color: $banner-fall-color;
      opacity: .3;
    }

    .banner__top {
      background: linear-gradient(to bottom, $banner-fall-bg-top-from, $banner-fall-bg-top-to);
      height: 180px;
    }

    .banner__bottom {
      background: $banner-fall-bg-bottom;
      height: 20px;
    }
  }
}
