footer {
  &.is-dark {
    background: $footer-dark-bg;

    .logo {
      fill: $footer-dark-color-logo;
    }

    h4 {
      color: $footer-dark-color-text;
    }

    a {
      color: $footer-dark-color-text;
    }

    .social--twitter {
      svg {
        fill: $footer-dark-color-icon;
      }
    }
  }

  &.is-light {
    background: $footer-light-bg;

    .logo {
      fill: $footer-light-color-logo;
    }

    h4 {
      color: $footer-light-color-text;
    }

    a {
      color: $footer-light-color-text;
    }

    .social--twitter {
      svg {
        fill: $footer-light-color-icon;
      }
    }
  }

  min-height: 300px;
  padding: 80px 0 30px;

  .logo {
    height: 40px;
  }

  h4 {
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
    padding: 5px 0;
  }

  a {
    font-size: 1.4rem;
  }

  .social {
    li {
      display: inline-block;
      margin-top: 6px;
    }
  }

  .social--twitter {
    svg {
      height: 15px;
    }

    &:hover {
      svg {
        fill: $color-link;
      }
    }
  }
}
