.nav {
  background: $color-white;
  height: 100px;
  padding-bottom: 0;
  padding-top: 0;
}

.nav-brand {
  margin-right: 30px;

  svg {
    height: 25px;
    margin-bottom: 2px;
  }

  .is-winter {
    fill: $color-winter-dark;
  }

  .is-spring {
    fill: $color-spring;
  }

  .is-summer {
    fill: $color-summer;
  }

  .is-fall {
    fill: $color-fall;
  }
}

.nav__search {
  img {
    height: 17px;
    margin-right: 10px;
    width: auto;
  }

  input {
    // sass-lint:disable-block no-vendor-prefixes
    border: 0;
    color: $nav-search-color;
    font-family: $sans-serif;
    font-size: 1.4rem;
    height: 30px;
    outline: 0;
    padding-left: 10px;

    &::placeholder {
      color: $nav-search-color-placeholder;
      font-family: 'Montserrat', sans-serif;
      font-size: 1.3rem;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}

.nav__icon {
  svg {
    fill: $nav-icon-color;
    height: 20px;

    &:hover {
      fill: $nav-icon-color-hover;
    }
  }
}

.icon--inbox {
  svg {
    height: 15px;
  }
}

.nav-item {
  border-bottom: 3px solid transparent;
  padding-bottom: 0;

  &.has-padding {
    padding: 1rem 1.5rem;
  }

  &.is-link {
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 0;
    padding-right: 0;

    a {
      color: $nav-link-color;
      font-family: $sans-serif;
      font-size: 1.3rem;
      font-weight: 600;
      text-transform: uppercase;
    }

    &:hover,
    &:active,
    &:focus {
      a {
        color: $nav-link-color-hover;
      }
    }

    &.is-active {
      a {
        color: $nav-link-color-active;
      }

      &--winter {
        border-bottom: 3px solid $color-winter-dark;
      }

      &--spring {
        border-bottom: 3px solid $color-spring;
      }

      &--summer {
        border-bottom: 3px solid $color-summer;
      }

      &--fall {
        border-bottom: 3px solid $color-fall;
      }
    }

    &.has-margin-right {
      margin-right: 50px;
    }
  }
}
